<div id="sub-nav" class="nav-container js-sidenav" role="navigation">
<a class="sidenav-title" data-behavior="SubMenuMobile">Doc Index</a>
<div class="nav-content">
   <ul>
      <li class="has_submenu">
         <span role="button"><strong>Release Notes</strong></span>
         <ul>
            <li class="">
               <a href="https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/release-notes/highlights.html"><%= vars.platform_name %> and Runtime Feature Highlights</a>
            </li>
            <li class="">
               <a href="https://docs.pivotal.io/ops-manager/2-11/release-notes.html"><%= vars.ops_manager %> v2.11 Release Notes</a>
            </li>
         </ul>
      </li>
         <li class="has_submenu">
            <span role="button"><strong>Platform Architecture and Planning</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/refarch/index.html">Platform Architecture and Planning Overview</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/refarch/aws/aws_ref_arch.html">AWS Reference Architecture</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/refarch/azure/azure_ref_arch.html">Azure Reference Architecture</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/refarch/gcp/gcp_ref_arch.html">GCP Reference Architecture</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/refarch/openstack/openstack_ref_arch.html">OpenStack Reference Architecture</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/refarch/vsphere/vsphere_ref_arch.html">vSphere Reference Architecture</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/refarch/vsphere/vsphere_nsx_cookbook.html">Using Edge Services Gateway on VMware NSX</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/refarch/vsphere/vsphere_upgrade.html">Upgrading vSphere without <%= vars.platform_name %> Downtime</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/refarch/vsphere/vsphere_migrate_datastore.html">Migrating <%= vars.platform_name %> to a New Datastore in vSphere</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/refarch/control.html">Control Plane Reference Architectures</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/tkgi/1-9/nsxt-multi-pks.html">Implementing a Multi-Foundation PKS Deployment</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/refarch/global-dns-lb.html">Global DNS Load Balancers for Multi-Foundation Environments</a>
               </li>
            </ul>
         </li>
      <span role="button"><strong>Installing <%= vars.platform_name %> on GCP</strong></span>
      <ul>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/gcp.html">Installing <%= vars.platform_name %> on GCP</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/gcp-quotas.html">Recommended GCP Quotas</a>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Installing <%= vars.platform_name %> on GCP Manually</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/gcp-manual.html">Installing <%= vars.platform_name %> on GCP Manually</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/gcp/prepare-env-manual.html">Preparing to Deploy <%= vars.ops_manager %> on GCP Manually</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/gcp/deploy-manual.html">Deploying <%= vars.ops_manager %> on GCP Manually</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/gcp/config-manual.html">Configuring BOSH Director on GCP Manually</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Installing <%= vars.platform_name %> on GCP Using Terraform</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/gcp-terraform.html">Installing <%= vars.platform_name %> on GCP Using Terraform</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/gcp/prepare-env-terraform.html">Deploying <%= vars.ops_manager %> on GCP Using Terraform</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/gcp/config-terraform.html">Configuring BOSH Director on GCP Using Terraform</a>
               </li>
            </ul>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/gcp-shared-vpc.html">Configuring a Shared VPC on GCP</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/deleting-gcp-install.html">Deleting <%= vars.platform_name %> from GCP</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/gcp-om-upgrade.html">Upgrading BOSH Director on GCP</a>
         </li>
      </ul>
      <li class="has_submenu">
         <span role="button"><strong>Installing <%= vars.platform_name %> on OpenStack</strong></span>
         <ul>
            <li class="">
               <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/openstack.html">Installing <%= vars.platform_name %> on OpenStack</a>
            </li>
            <li class="">
               <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/openstack/setup.html">Deploying <%= vars.ops_manager %> on OpenStack</a>
            </li>
            <li class="">
               <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/openstack/config.html">Configuring BOSH Director on OpenStack</a>
            </li>
         </ul>
      </li>
      <li class="has_submenu">
         <span role="button"><strong>Installing <%= vars.platform_name %> on vSphere</strong></span>
         <ul>
            <li class="">
               <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/vsphere.html">Installing <%= vars.platform_name %> on vSphere</a>
            </li>
            <li class="">
               <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/vsphere/vsphere-service-account.html">vSphere Service Account Requirements</a>
            </li>
            <li class="">
               <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/vsphere/deploy.html">Deploying <%= vars.ops_manager %> on vSphere</a>
            </li>
            <li class="">
               <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/vsphere/config.html">Configuring BOSH Director on vSphere</a>
            </li>
            <li class="">
               <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/nexus-switch.html">Using the Cisco Nexus 1000v Switch with <%= vars.ops_manager %></a>
            </li>
            <li class="">
               <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/resurrector.html">Using the BOSH Resurrector</a>
            </li>
            <li class="">
               <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/understand-az.html">Availability Zones in vSphere</a>
            </li>
            <li class="">
               <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/vsphere/host-groups.html">Host Groups in vSphere</a>
            </li>
         </ul>
      </li>
   </ul>
   <li class="has_submenu">
      <span role="button"><strong>Operating <%= vars.platform_name %></strong></span>
      <ul>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/opsguide/index.html"><%= vars.platform_name %> Operator Guide</a>
         </li>
         <li class="has_submenu">
            <span role="button"><strong><%= vars.ops_manager %></strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/pcf-interface.html">Using the <%= vars.ops_manager %> Interface</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/review-pending-changes.html">Reviewing Pending Product Changes</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/add-delete.html">Adding and Deleting Products</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/opsguide/managing-stemcells.html">Importing and Managing Stemcells</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/managing_errands.html">Managing Errands in <%= vars.ops_manager %></a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/opsguide/auditing-ops-man.html">Auditing <%= vars.ops_manager %> User Activity</a>
               </li>
               <li>
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/ops-man-api-cli.html">Using <%= vars.ops_manager %> Programmatically and from the Command Line</a>
               </li>
               <li>
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/ops-man-api.html">Using the <%= vars.ops_manager %> API</a>
               </li>
               <li class="has_submenu">
                  <span role="button"><strong>Advanced Features in <%= vars.ops_manager %></strong></span>
                  <ul>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/modify-ops-man.html">Modifying Your <%= vars.ops_manager %> Installation and Product Template Files</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/granular-verifier-control.html">Managing <%= vars.ops_manager %> Verifiers</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/custom-vm-extensions.html">Managing Custom VM Extensions</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/lock-on-deploy.html"><%= vars.ops_manager %> Fields That Lock On Deploy</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/overriding-properties-advanced.html">Overriding Manifest Properties in Advanced Mode</a>
                     </li>
                  </ul>
            </ul>
         </li>
         <li class="has_submenu">
            <span><strong>User Accounts and Permissions</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/platform-operators.html">Platform Operators</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/opsmanager-create-bosh-client.html">Creating UAA Clients for BOSH Director</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/opsman-users.html">Creating and Managing <%= vars.ops_manager %> User and Client Accounts</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/opsguide/config-rbac.html">Configuring RBAC in <%= vars.ops_manager %></a>
               </li>
                  </ul>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Certificates and Credentials</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/pcf-infrastructure/certificate-types.html">Certificate Types</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/pcf-infrastructure/managing-certificates.html">Managing Certificates with the <%= vars.ops_manager %> API</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/pcf-infrastructure/api-cert-rotation.html">Rotating Certificates</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/pcf-infrastructure/rotate-non-configurable-certs.html">Rotating Non-Configurable Leaf Certificates</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/pcf-infrastructure/rotate-configurable-certs.html">Rotating Configurable Leaf Certificates</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/pcf-infrastructure/services_tls_ca_rotate.html">Rotating the Services TLS CA and Its Leaf Certificates</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/pcf-infrastructure/rotate-saml-ca.html">Rotating Identity Provider SAML Certificates</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/pcf-infrastructure/custom-ca-cert.html">Custom Certificate Authorities</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/credentials.html">Retrieving Credentials from Your Deployment</a>
               </li>
               <li class="has_submenu">
                  <span role="button"><strong>Component: CredHub</strong></span>
                  <ul>
                     <li class="">
                        <a href="https://docs.pivotal.io/credhub/index.html">CredHub</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/credhub/credential-types.html">CredHub Credential Types</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/pcf-infrastructure/manual-credhub-certificate.html">Reviewing and Resetting Manually Set Certificates in BOSH CredHub</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/pcf-infrastructure/getting-started-with-maestro-cli.html">Getting Started with CredHub Maestro</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/pcf-infrastructure/advanced-certificate-rotation.html">Advanced Certificate Rotation with CredHub Maestro</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/pcf-infrastructure/maestro-tile-compatibility.html">CredHub Maestro Tile Compatibility</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/pcf-infrastructure/troubleshoot-cert-errors.html">Troubleshooting CredHub Maestro Safety Violations During Certificate Rotation</a>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
   <li class="has_submenu">
      <span role="button"><strong>Upgrading <%= vars.platform_name %></strong></span>
      <ul>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/upgrading-pcf.html">Upgrading <%= vars.platform_name %></a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/2-10/upgrade/checklist.html">Upgrade Preparation Checklist for <%= vars.platform_name %> v2.10</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/upgrading-products.html">Upgrading <%= vars.app_runtime_abbr %> and Other <%= vars.platform_name %> Products</a>
         </li>
      </ul>
   </li>
   <li class="has_submenu">
      <span role="button"><strong>Backing Up and Restoring Deployments</strong></span>
      <ul>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/backup-restore/index.html">Backing Up and Restoring Deployments</a>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Incident Response Guides</strong></span>
            <ul>
               <li>
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/backup-restore/incident-response-guides/lost-director-disk.html">Restoring Lost BOSH Director Persistent Disk</a>
               </li>
               <li>
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/backup-restore/incident-response-guides/lost-cf-data.html">Restoring Lost <%= vars.app_runtime_abbr %> Data</a>
               </li>
               <li>
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/backup-restore/incident-response-guides/failed-pas-upgrade.html">Recovering from an <%= vars.ops_manager %> and <%= vars.app_runtime_abbr %> Upgrade Failure</a>
               </li>
            </ul>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/backup-restore/disaster-recovery.html">Disaster Recovery</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/backup-restore/backup-pcf-bbr.html">Backing Up Deployments with BBR</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/backup-restore/file-storage-backup-level.html">File Storage Backup Level</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/backup-restore/component-backups.html"><%= vars.app_runtime_abbr %> Component Availability During Backup</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/backup-restore/restore-pcf-bbr.html">Restoring Deployments from Backup with BBR</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/backup-restore/enabling-external-blobstore-backups.html">Enabling External Blobstore Backups</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/backup-restore/troubleshooting-bbr.html">Troubleshooting BBR</a>
         </li>
      </ul>
   </li>
         <li class="has_submenu">
            <span role="button"><strong>User Accounts and Communications</strong></span>
            <ul>
                  <a href="https://docs.pivotal.io/ops-manager/opsguide/external-user-management.html">Adding Existing SAML or LDAP Users to a <%= vars.platform_name %> Deployment</a>
               </li>
               <li class="has_submenu">
                  <span role="button"><strong>Configuring Authentication and Enterprise SSO for <%= vars.app_runtime_abbr %></strong></span>
                  <ul>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/opsguide/adfs-sso-configuration.html">Configuring AD FS as an Identity Provider</a>
                     </li>
                  </ul>
               </li>
         <li class="has_submenu">
            <span role="button"><strong>Traffic and Security</strong></span>
            <ul>
               <li class="has_submenu">
                  <span role="button"><strong>Front End</strong></span>
                  <ul>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/networking/tls-info.html">TLS Connections in <%= vars.platform_name %></a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/opsguide/security_config.html">Providing a Certificate for Your TLS Termination Point</a>
                     </li>
                  </ul>
               </li>
               <li class="has_submenu">
                  <span role="button"><strong>Component Communications</strong></span>
                  <ul>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/networking/bosh-dns-network-paths.html">BOSH DNS Network Communications</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/networking/cc-network-paths.html">Cloud Controller Network Communications</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/networking/c2c-network-paths.html">Container-to-Container Networking Communications</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/networking/credhub-network-paths.html">CredHub Network Communications</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/networking/diego-network-paths.html">Diego Network Communications</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/networking/loggregator-network-paths.html">Loggregator Network Communications</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/networking/mysql-network-paths.html">MySQL Network Communications</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/networking/nats-network-paths.html">NATS Network Communications</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/networking/routing-network-paths.html">Routing Network Communications</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/networking/uaa-network-paths.html">UAA Network Communications</a>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
         <!--end of installing section-->
   <li class="has_submenu">
      <span role="button"><strong>Logging and Metrics</strong></span>
      <ul>
         <li>
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/viewing-logs-and-metrics.html">Accessing Logs and Metrics</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/monitoring.html">Monitoring VMs in <%= vars.platform_name %></a>
         </li>
      </ul>
   </li>
   <li class="has_submenu">
      <span role="button"><strong>Security and Compliance</strong></span>
      <ul>
         <li class="has_submenu">
            <span role="button"><strong>Security Policy and Processes</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/process/pcf-security.html"><%= vars.platform_name %> Security Overview and Policy</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/process/security-lifecycle.html">Testing, Release, and Security Lifecycle</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/pks/1-5/security-process.html">Enterprise PKS Security Disclosure and Release Process</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>IaaS Security</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/pcf-infrastructure/disk-encrypt.html">Disk Encryption</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/security-adjacent/security-guidelines-iaas.html">Security Guidelines for Your IaaS Provider</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Stemcell Security</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/pcf-infrastructure/stemcell-hardening.html">Linux Stemcell Hardening</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/pcf-infrastructure/windows-stemcell-hardening.html">Windows Stemcell Hardening</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/understanding-stemcells.html">Floating Stemcells</a>
               </li>
            </ul>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/nist/index.html">Assessment of <%= vars.platform_name %> against NIST SP 800-53(r4) Controls</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/tiles/index.html">Security-Related <%= vars.platform_name %> Tiles and Add-ons</a>
         </li>
      </ul>
   </li>
   <li class="has_submenu">
      <span role="button"><strong>Troubleshooting and Diagnostics</strong></span>
      <ul>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/troubleshooting.html">Troubleshooting Deployment Problems</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/trouble-advanced.html">Advanced Troubleshooting with the BOSH CLI</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/backup-restore/troubleshooting-bbr.html">Troubleshooting BBR</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/azure-troubleshooting.html">Troubleshooting <%= vars.platform_name %> on Azure</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/install/troubleshooting-vsphere.html">Troubleshooting <%= vars.ops_manager %> for VMware vSphere</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/windows/troubleshooting.html">Troubleshooting Windows Diego Cells</a>
         </li>
      </ul>
   </li>
  </div>
</div>

<%# Make relative link if book path is in link: %>
<script>

var domain = window.location.protocol + "//" + window.location.hostname;

if (window.location.hostname == "localhost") {
   var domain = domain + ":" + window.location.port;
}

$('#sub-nav a[href]').each(function() {
   if ($(this).attr("href").includes("<%= product_info['url_prefix'] %>")) {
      var new_href = $(this).attr("href").replace("https://docs.pivotal.io", '');
      $(this).attr("href", new_href);
   }
   else {
      var new_href = $(this).attr("href").replace("https://docs.pivotal.io", domain);
      $(this).attr("href", new_href);
   }
});

</script>
